@model Library_API.Models.EmailModels.EmailModel;
<!DOCTYPE html
          PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Dxa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>


<body style="background-color:#F1EEE9;padding:2%;padding-bottom:10%;font-size:13px">
    <div class="mainbox"
         style="max-width: 650px;margin: 0 auto;display: block;font-family: 'Lato', 'Arial', sans-serif;">
        <div style="display: flex !important; justify-content:center !important; margin-bottom: 25px !important;">
        </div>
        <div class="centerBox">
            <div class="boxHeader" style="        padding: 5px 10px !important;
        background-color: black !important;
        padding: 20px 0px !important;
        border-radius: 5px 5px 0px 0px;
">
                <div>
                    <p style="text-align:center; color: #fff !important;">Olá @Model.Name!</p>
                </div>
            </div>
            <div style="padding: 15px 20px !important; background-color: #fff !important; border-radius: 0px 0px 5px 5px;">
                <div class="textContentCard" style="
                        margin: 0 auto !important;
                        text-align: center;
                        margin-bottom: 40px !important;
                        padding-top: 10px !important;
                    ">
                    <p style="text-align:center;">@Model.Message</p>
                </div>

                <div>
                </div>

                <div target="_blank" class="boxFooter" style="margin-top:5px !important;text-align: center !important;">
                    <a style="text-decoration: none !important;color: black !important;font-size: 0.8rem !important;"
                       href="https://dxainvest.com/">LibNow @DateTime.Now.Year </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>